*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media print {
  body {-webkit-print-color-adjust: exact;}
}

body {
  background: white;
  font-family: $font-family;
}

button {
  border-radius: 2px;
  background-color: burlywood;
  cursor: pointer;
  border: 0;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  margin: 0;
  &:hover {
    background: $colorHover;
  }
}